<template>
  <div>
    <div class="importacoes-content animated fadeInRightBig">
      <header class="header">
        <h1>Preenchimento manual de produção</h1>
        <p>Faça o preenchimento de informações</p>
      </header>

      <section>
        <form v-on:submit.prevent="save">
          <input
            class="input-formal"
            v-model="actionLog.attributes.qualificador"
            required
            type="number"
            placeholder="Qualificador"
          >
          <input
            class="input-formal"
            v-model="actionLog.attributes.acao"
            required
            type="text"
            placeholder="Ação"
          >
          <input
            required
            class="input-formal"
            type="number"
            placeholder="OCORRÊNCIA"
            v-model="actionLog.attributes.ocorrencias"
          >
          <label for="ids" type="text">
            <input
              v-model="actionLog.userId"
              class="input-formal"
              required
              type="text"
              list="ids"
              placeholder="Chave"
            >
          </label>
          <datalist id="ids" class="display: none">
            <option :value="player._id" v-for="player in players" :key="player._id">{{ player._id }}</option>
          </datalist>
          <Datepicker
            :format="customFormatter"
            :language="ptBR"
            v-model="actionLog.attributes.date"
            class="input-custom"
            placeholder="DATA"
            required="true"
          ></Datepicker>
          <button class="bttn-formal">Enviar ocorrência</button>
        </form>
      </section>
    </div>
    <Alert :alert="alertMessage" @close="alertMessage = null"></Alert>
  </div>
</template>

<script>
import { getListOfUsers, getToken } from "@/services/funifier";
import { baseApiUrl, token } from "@/global";
import Axios from "axios";
import moment from "moment";
import Datepicker from "vuejs-datepicker";
import { ptBR } from "vuejs-datepicker/dist/locale";

import Alert from "@/components/widgets/Alert";

export default {
  components: { Datepicker, Alert },
  data() {
    return {
      ptBR: ptBR,
      players: [],
      actionLog: {
        actionId: "tratar",
        userId: null,
        attributes: {
          qualificador: null,
          acao: null,
          ocorrencias: null,
          date: null
        }
      },
      alertMessage: null
    };
  },
  methods: {
    customFormatter(date) {
      return date.toLocaleDateString("pt-BR");
    },
    getPlayers: async function() {
      const data = await getListOfUsers();
      this.players = data;
    },
    formatDate(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    save() {
      this.actionLog.attributes.date = this.formatDate(
        this.actionLog.attributes.date
      );
      this.actionLog.attributes.ocorrencias = parseInt(
        this.actionLog.attributes.ocorrencias
      );
      this.actionLog.attributes.qualificador = parseInt(
        this.actionLog.attributes.qualificador
      );
      Axios({
        method: "POST",
        url: `${baseApiUrl}/v3/action/log`,
        headers: {
          Authorization: token,
          "cache-control": "no-cache"
        },
        data: this.actionLog
      })
        .then(data => {
          console.info("data", data.data);
          this.actionLog = {
            actionId: "tratar",
            userId: null,
            attributes: {
              qualificador: null,
              acao: null,
              ocorrencias: null,
              date: {
                $date: null
              }
            }
          };
          this.alertMessage = "Ação registrada com sucesso!";
        })
        .catch(erro => {
          console.error(erro);
        });
    }
  },
  mounted() {
    this.getPlayers();
  }
};
</script>
