<template>
  <div class="jogadores-content relatorios-content">
    <Menu></Menu>
    <div class="animated fadeInRightBig">
      <header v-if="list.length" class="header header-edit">
        <p>
          Todos os usuários registrados até
          {{ new Date().toLocaleDateString("pt-BR") }}
        </p>
      </header>

      <table v-if="list.length" class="table">
        <thead>
          <tr>
            <td>Matrícula</td>
            <td>Nome</td>
            <td>Time</td>
            <td>Supervisor</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in list" :key="item.id">
            <td>{{ item._id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.team.name }}</td>
            <td>{{ item.supervisor.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { getToken } from "@/services/funifier";
import { baseApiUrl } from "@/global";
import Axios from "axios";

import Menu from "./Menu";
export default {
  components: {
    Menu
  },
  data() {
    return {
      list: []
    };
  },
  methods: {
    getListOfUsers() {
      const token = getToken();
      let query;
      if (token.hole === "admin") {
        query = [
          { $unwind: "$teams" },
          {
            $lookup: {
              from: "team",
              localField: "teams",
              foreignField: "_id",
              as: "team"
            }
          },
          { $unwind: "$team" },
          {
            $lookup: {
              from: "player",
              localField: "team.owner",
              foreignField: "_id",
              as: "supervisor"
            }
          },
          {
            $project: {
              _id: 1,
              name: 1,
              extra: 1,
              "team.name": 1,
              "supervisor.name": 1,
              "supervisor._id": 1
            }
          },
          { $unwind: "$supervisor" }
        ];
      } // if
      if (token.hole === "supervisor") {
        query = [
          { $unwind: "$teams" },
          {
            $lookup: {
              from: "team",
              localField: "teams",
              foreignField: "_id",
              as: "team"
            }
          },
          { $unwind: "$team" },
          {
            $lookup: {
              from: "player",
              localField: "team.owner",
              foreignField: "_id",
              as: "supervisor"
            }
          },
          {
            $project: {
              _id: 1,
              name: 1,
              extra: 1,
              "team.name": 1,
              "supervisor.name": 1,
              "supervisor._id": 1
            }
          },
          { $unwind: "$supervisor" },
          { $match: { "supervisor._id": token.userId } }
        ];
      } // if

      Axios({
        method: "POST",
        url: `${baseApiUrl}/v3/database/player/aggregate`,
        headers: {
          Authorization: token.token,
          "cache-control": "no-cache",
          Range: "itens=0-150"
        },
        data: query
      })
        .then(data => {
          this.list = data.data;
        })
        .catch(erro => {
          console.error(erro);
        });
    }
  },
  mounted() {
    this.getListOfUsers();
  }
};
</script>
