<template>
  <header class="header">
    <h1>Relatórios</h1>

    <div class="grey-content">
      <router-link to="/relatorio" tag="div" active-class="active" exact
        >Podução</router-link
      >
      <router-link to="/relatorio/produtividade" tag="div" active-class="active"
        >Produtividade</router-link
      >
      <router-link to="/relatorio/jogadores" tag="div" active-class="active"
        >Jogadores</router-link
      >
      <router-link to="/relatorio/metas" tag="div" active-class="active"
        >Metas</router-link
      >
      <router-link
        to="/relatorio/nivel"
        tag="div"
        active-class="active"
        v-if="hasHole('admin')"
        >Nível</router-link
      >
      <router-link
        to="/relatorio/ranking"
        tag="div"
        active-class="active"
        v-if="hasHole('admin')"
        >Ranking</router-link
      >
      <router-link
        to="/relatorio/produtos"
        tag="div"
        active-class="active"
        v-if="hasHole('admin')"
        >Produtos Favoritos</router-link
      >
      <router-link
        to="/relatorio/produtos-favoritos"
        tag="div"
        active-class="active"
        v-if="hasHole('admin')"
        >Raking de Produtos Favoritos</router-link
      >
    </div>
  </header>
</template>
<script>
import { hasHole } from "@/services/funifier";
export default {
  data() {
    return {
      hasHole: hasHole
    };
  }
};
</script>
