<template>
  <div>
    <div class="relatorios-content">
      <Menu></Menu>
      <div class="animated fadeInRightBig">
        <header class="header header-edit">
          <!-- <p>Pesquisa do dia: {{producao.dateOfGet | date: 'dd/MM/yyyy' }}</p> -->
        </header>

        <section>
          <table class="table">
            <thead>
              <tr>
                <td>Matrícula</td>
                <td>Nome</td>
                <td>Meta</td>
                <td>Supervisor</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in list" :key="item.id">
                <td>{{ item._id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.extra.meta }}</td>
                <td>{{ item.supervisor.name }}</td>
                <td>
                  <button class="bttn-formal" @click="editModal(item)">
                    Editar Meta
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
    <Modal
      @editPlayer="editMeta"
      :message-modal="playerModal"
      :show-modal="showModal"
      @close="showModal = false"
    ></Modal>
    <Alert :alert="alertMessage" @close="alertMessage = null"></Alert>
  </div>
</template>

<script>
import { getToken } from "@/services/funifier";
import { baseApiUrl } from "@/global";
import Axios from "axios";

import Menu from "./Menu";
import Modal from "@/components/widgets/Modal";
import Alert from "@/components/widgets/Alert";

export default {
  components: {
    Menu,
    Modal,
    Alert
  },
  data() {
    return {
      showModal: false,
      playerModal: {},
      list: [],
      alertMessage: null
    };
  },
  methods: {
    editModal(player) {
      this.showModal = true;
      this.playerModal = player;
    },
    getListOfUsers() {
      const token = getToken();
      let query;
      if (token.hole === "admin") {
        query = [
          { $unwind: "$teams" },
          {
            $lookup: {
              from: "team",
              localField: "teams",
              foreignField: "_id",
              as: "team"
            }
          },
          { $unwind: "$team" },
          {
            $lookup: {
              from: "player",
              localField: "team.owner",
              foreignField: "_id",
              as: "supervisor"
            }
          },
          {
            $project: {
              _id: 1,
              name: 1,
              extra: 1,
              "team.name": 1,
              "supervisor.name": 1,
              "supervisor._id": 1
            }
          },
          { $unwind: "$supervisor" }
        ];
      } // if
      if (token.hole === "supervisor") {
        query = [
          { $unwind: "$teams" },
          {
            $lookup: {
              from: "team",
              localField: "teams",
              foreignField: "_id",
              as: "team"
            }
          },
          { $unwind: "$team" },
          {
            $lookup: {
              from: "player",
              localField: "team.owner",
              foreignField: "_id",
              as: "supervisor"
            }
          },
          {
            $project: {
              _id: 1,
              name: 1,
              extra: 1,
              "team.name": 1,
              "supervisor.name": 1,
              "supervisor._id": 1
            }
          },
          { $unwind: "$supervisor" },
          { $match: { "supervisor._id": token.userId } }
        ];
      } // if

      Axios({
        method: "POST",
        url: `${baseApiUrl}/v3/database/player/aggregate`,
        headers: {
          Authorization: token.token,
          "cache-control": "no-cache",
          Range: "itens=0-150"
        },
        data: query
      })
        .then(data => {
          this.list = data.data;
        })
        .catch(erro => {
          console.error(erro);
        });
    },
    editMeta(player) {
      const token = getToken();

      let playerTemp = {
        _id: player._id,
        extra: {
          meta: player.extra.meta
        }
      };

      Axios({
        method: "PUT",
        url: `${baseApiUrl}/v3/player`,
        headers: {
          Authorization: token.token,
          "cache-control": "no-cache"
        },
        data: playerTemp
      })
        .then(data => {
          if (data.statusText == "Created") {
            this.showModal = false;
            this.alertMessage = "Meta alterada com sucesso!";
          }
        })
        .catch(erro => {
          console.error(erro);
        });
    }
  },
  mounted() {
    this.getListOfUsers();
  }
};
</script>
