<template>
  <div class="relatorios-content">
    <Menu></Menu>
    <section>
      <table class="table animated fadeInRightBig">
        <thead>
          <tr>
            <td>Matrícula</td>
            <td>Nome</td>
            <td>Nível</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="p in items" :key="p.id">
            <td>{{ p._id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.level_progress.level.position }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</template>

<script>
import { getToken } from "@/services/funifier";
import { baseApiUrl } from "@/global";
import Axios from "axios";

import Menu from "./Menu";
export default {
  components: {
    Menu
  },
  data() {
    return {
      items: {}
    };
  },
  methods: {
    getPlayersNivel() {
      const token = getToken();
      Axios({
        method: "GET",
        url: `${baseApiUrl}/v3/database/player_status`,
        headers: {
          Authorization: token.token,
          "cache-control": "no-cache",
          Range: "items=0-500"
        }
      })
        .then(data => {
          this.items = data.data;
        })
        .catch(erro => {
          console.error(erro);
        });
    }
  },
  mounted() {
    this.getPlayersNivel();
  }
};
</script>
