<template>
  <div class="relatorios-content">
    <Menu></Menu>
    <section>
      <table class="table animated fadeInRightBig">
        <thead>
          <tr>
            <td>Total</td>
            <td>Alterar nome do clan</td>
            <td>Produto</td>
            <td>Descriçao do produto</td>
            <td>Imagem</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="p in products" :key="p._id">
            <td>{{ p.total }}</td>
            <td>{{ p.loja }}</td>
            <td>{{ p.produto }}</td>
            <td>{{ p.descricao_produto }}</td>
            <td class="img">
              <img :src="p.image_produto" :alt="p.descricao_produto" />
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</template>

<script>
import { getToken } from "@/services/funifier";
import { baseApiUrl } from "@/global";
import Axios from "axios";

import Menu from "./Menu";
export default {
  components: {
    Menu
  },
  data() {
    return {
      products: {}
    };
  },
  methods: {
    getFavoriteProductsRaking() {
      const token = getToken();
      Axios({
        method: "POST",
        url: `${baseApiUrl}/v3/database/player/aggregate`,
        headers: {
          Authorization: token.token,
          "cache-control": "no-cache",
          Range: "items=0-1000"
        },
        data: [
          { $match: { "extra.favItems": { $exists: true } } },
          {
            $project: {
              _id: 0,
              chave: "$_id",
              nome: "$name",
              fav: "$extra.favItems"
            }
          },
          { $unwind: "$fav" },
          { $group: { _id: "$fav", total: { $sum: 1 } } },
          { $sort: { total: -1 } },
          {
            $lookup: {
              from: "catalog_item",
              localField: "_id",
              foreignField: "_id",
              as: "prod"
            }
          },
          { $unwind: "$prod" },
          {
            $lookup: {
              from: "catalog",
              localField: "prod.catalogId",
              foreignField: "_id",
              as: "loja"
            }
          },
          { $unwind: "$loja" },
          {
            $project: {
              _id: 1,
              total: 1,
              loja: "$loja.catalog",
              produto: "$prod.name",
              descricao_produto: "$prod.description",
              image_produto: "$prod.image.small.url"
            }
          }
        ]
      })
        .then(data => {
          this.products = data.data;
        })
        .catch(erro => {
          console.error(erro);
        });
    }
  },
  mounted() {
    this.getFavoriteProductsRaking();
  }
};
</script>
