<template>
  <div class="relatorios-content">
    <Menu></Menu>

    <header class="header header-edit">
      <Datepicker
        :format="customFormatter"
        :language="ptBR"
        v-model="startDate"
        class="input-custom"
      ></Datepicker>
      <Datepicker
        :format="customFormatter"
        :language="ptBR"
        v-model="endDate"
        class="input-custom"
      ></Datepicker>
      <button class="bttn-formal" @click="getProduction">Buscar</button>
    </header>

    <section>
      <table v-if="list.length" class="table animated fadeInRightBig">
        <thead>
          <tr>
            <td>Matrícula</td>
            <td>Nome</td>
            <td>Meta</td>
            <td>Total</td>
            <td>Supervisor</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in list" :key="item.id">
            <td>{{ item._id }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.meta }}</td>
            <td>{{ item.total }}</td>
            <td>{{ item.supervisor }}</td>
          </tr>
        </tbody>
      </table>
      <header v-if="!list.length" class="animated fadeInRightBig header">
        <h1>Dados não encontrados!</h1>
      </header>
    </section>
  </div>
</template>

<script>
import { getProductionByPlayer } from "@/services/funifier";
import Datepicker from "vuejs-datepicker";
import { ptBR } from "vuejs-datepicker/dist/locale";

import Menu from "./Menu";

export default {
  components: {
    Menu,
    Datepicker
  },
  data() {
    return {
      ptBR: ptBR,
      list: [],
      startDate: new Date(),
      endDate: new Date()
    };
  },
  methods: {
    customFormatter(date) {
      return date.toLocaleDateString("pt-BR");
    },
    getProduction: async function() {
      const data = await getProductionByPlayer(this.startDate, this.endDate);
      this.list = data;
    }
  },
  mounted() {
    this.getProduction();
  }
};
</script>
