<template>
  <div class="relatorios-content">
    <Menu></Menu>
    <section>
      <table class="table animated fadeInRightBig">
        <thead>
          <tr>
            <td>Matrícula</td>
            <td>Nome</td>
            <td>Posição no Ranking</td>
            <td>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="p in raking" :key="p._id">
            <td>{{ p.player }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.position }}</td>
            <td>{{ p.total }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</template>

<script>
import { getToken } from "@/services/funifier";
import { baseApiUrl } from "@/global";
import Axios from "axios";

import Menu from "./Menu";
export default {
  components: {
    Menu
  },
  data() {
    return {
      raking: {}
    };
  },
  methods: {
    getRaking() {
      const token = getToken();
      Axios({
        method: "POST",
        url: `${baseApiUrl}/v3/database/action_log/aggregate`,
        headers: {
          Authorization: token.token,
          "cache-control": "no-cache",
          Range: "items=0-1000"
        },
        data: [
          {
            $match: {
              actionId: { $in: ["tratar", "errar"] },
              time: { $gte: { $date: "-1M-" } }
            }
          },
          {
            $facet: {
              p1: [
                { $match: { actionId: "tratar" } },
                {
                  $group: {
                    _id: "$userId",
                    ocorrencias: { $sum: "$attributes.ocorrencias" }
                  }
                }
              ],
              p2: [
                { $match: { actionId: "errar" } },
                { $group: { _id: "$userId", erros: { $sum: 1 } } }
              ]
            }
          },
          { $project: { all: { $concatArrays: ["$p1", "$p2"] } } },
          { $unwind: "$all" },
          { $replaceRoot: { newRoot: "$all" } },
          {
            $group: {
              _id: "$_id",
              ocorrencias: { $sum: "$ocorrencias" },
              erros: { $sum: "$erros" }
            }
          },
          {
            $addFields: {
              pontos_ocorrencias: { $multiply: ["$ocorrencias", 2] },
              pontos_erros: { $multiply: ["$erros", 6] }
            }
          },
          {
            $addFields: {
              total: { $subtract: ["$pontos_ocorrencias", "$pontos_erros"] }
            }
          },
          { $sort: { total: -1 } },
          { $facet: { result: [{ $match: {} }] } },
          { $unwind: { path: "$result", includeArrayIndex: "position" } },
          {
            $project: {
              player: "$result._id",
              total: "$result.total",
              position: "$position",
              _id: 0
            }
          },
          {
            $project: {
              player: "$player",
              total: "$total",
              position: { $add: ["$position", 1] },
              _id: 0
            }
          },
          {
            $lookup: {
              from: "player",
              localField: "player",
              foreignField: "_id",
              as: "p"
            }
          },
          { $unwind: "$p" },
          {
            $project: {
              player: "$player",
              total: "$total",
              position: 1,
              name: "$p.name"
            }
          }
        ]
      })
        .then(data => {
          this.raking = data.data;
        })
        .catch(erro => {
          console.error(erro);
        });
    }
  },
  mounted() {
    this.getRaking();
  }
};
</script>
