<template>
  <div>
    <div class="jogadores-content animated fadeInRightBig">
      <header class="header">
        <h1>Tratar Ocorrência de erro</h1>
        <p>
          Para alterar a senha, insira a chave do usuário e a nova senha, logo
          após, aguarde a confirmação.
        </p>
      </header>

      <table class="table">
        <thead>
          <tr>
            <td>Chave</td>
            <td>Nome</td>
            <td>Data</td>
            <td>Ocorrência</td>
          </tr>
        </thead>
        <tbody>
          <!-- <tr ng-repeat="(index, p) in ocorrencies.list" ng-class="{'active' : p.checked}">
            <td>{{p.userId}}</td>
            <td>{{p.nome}}</td>
            <td>{{p.time | date: 'dd/MM/yyyy'}}</td>
            <td>{{p.attributes.ocorrencia}}</td>
            <td class="img" ng-if="!p.checked">
              <button class="bttn-formal formal-green" ng-click="saveOcorrencie(p, index)">
                <i class="icon-green far fa-thumbs-up"></i>
              </button>
            </td>
            <td class="img" ng-if="!p.checked">
              <button class="bttn-formal formal-red" ng-click="saveOcorrencie(p, index, true)">
                <i class="icon-red far fa-thumbs-down"></i>
              </button>
            </td>
            <td class="img icon" ng-if="p.checked" colspan="2">
              <i class="far fa-check-circle"></i>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <!-- <div class="modal-container" ng-if="alert">
      <div class="modal-body perso">
        <h1>{{alert.message}}</h1>
        <div>
          <button class="bttn-formal" ng-click="alertHide()">{{alert.btnCancel ? "Cancelar": "Ok"}}</button>
        </div>
      </div>
    </div> -->
    <Alert :alert="alertMessage" @close="alertMessage = null"></Alert>
  </div>
</template>
<script>
import Alert from "@/components/widgets/Alert";
export default {
  components: {  Alert },
  data() {
    return {
      alertMessage: "Dados não encontrados!"
    };
  },
}
</script>
