<template>
  <div>
    <div class="importacoes-content animated fadeInRightBig">
      <header class="header">
        <h1>Alterar senha</h1>
        <p>
          Para alterar a senha, insira a chave do usuário e a nova senha, logo
          após, aguarde a confirmação.
        </p>
      </header>

      <section>
        <form v-on:submit.prevent="savePassword(playerSelected)">
          <label for="ids2" type="text">
            <input
              class="input-formal"
              type="text"
              list="ids2"
              v-model="playerSelected"
              placeholder="Chave"
              required
            />
          </label>
          <datalist id="ids2" class="display: none">
            <option
              :value="player._id"
              v-for="player in players"
              :key="player._id"
              >{{ player.name }}</option
            >
          </datalist>

          <input
            class="input-formal"
            type="password"
            placeholder="Senha"
            v-model="password"
            required
          />
          <button class="bttn-formal">Alterar senha</button>
        </form>
      </section>
      <!-- <header class="header">
        <p>{{message}}</p>
      </header>-->
    </div>

    <!-- <div class="modal-container">
      <div class="modal-body">
        <h2>Vamos Confirmar...</h2>
        <h1>Você deseja alterar a senha de <b>{{playerChangePassword.name}}</b>?</h1>
        <div>
          <button class="bttn-formal" ng-click="changePasswordForUser(true)">Sim</button>
          <button class="bttn-formal" ng-click="changePasswordForUser(false)">Não</button>
        </div>
      </div>
    </div>-->
    <!-- 
    <div class="modal-container" ng-if="alert">
      <div class="modal-body perso">
        <h1>{{alert.message}}</h1>
        <div>
          <button class="bttn-formal" ng-click="alertHide()">{{alert.btnCancel ? "Cancelar": "Ok"}}</button>
        </div>
      </div>
    </div>-->
    <Alert :alert="alertMessage" @close="alertMessage = null"></Alert>
  </div>
</template>

<script>
import { getListOfUsers, editPassword } from "@/services/funifier";

import Alert from "@/components/widgets/Alert";

export default {
  components: {
    Alert
  },
  data() {
    return {
      players: [],
      playerSelected: null,
      password: null,
      alertMessage: null
    };
  },
  methods: {
    getPlayers: async function() {
      const data = await getListOfUsers();
      this.players = data;
    },
    savePassword: async function(playerId) {
      // name, _id, password
      const player = this.players.find(player => player._id === playerId);
      if (player && this.password) {
        const res = await editPassword(player.name, player._id, this.password);
        if (res.message === "User successfully registered") {
          this.alertMessage = "Tudo certo";
        }
        this.playerSelected = null;
        this.password = null;
      }
    }
  },
  mounted() {
    this.getPlayers();
  }
};
</script>
