<template>
  <div class="modal-container" v-if="alert">
    <div class="modal-body perso">
      <h1>{{ alert }}</h1>
      <div>
        <button class="bttn-formal" @click="$emit('close')">Ok</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["alert"]
};
</script>
