<template>
  <div class="modal-container" v-if="showModal">
    <div class="modal-body">
      <h2></h2>
      <h1>{{ messageModal.name }}</h1>
      <div class="input-container">
        <label for="meta">Meta:</label>
        <input
          class="input-formal"
          id="meta"
          type="number"
          v-model="messageModal.extra.meta"
          v-if="messageModal.extra"
        />
      </div>
      <div>
        <button class="bttn-formal" @click="$emit('editPlayer', messageModal)">
          Sim
        </button>
        <button class="bttn-formal" @click="$emit('close')">Não</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["messageModal", "showModal"]
};
</script>
