/*
0 - 600px:        Phone
600 - 9000px      Tablet portrait
900 - 12000px     Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :         Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > pag layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  color: #fff;
  font-weight: 300;
  width: 100%;
  height: 100%; }

.padd {
  padding: 0 5rem;
  max-width: 143rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .padd {
      max-width: 100%;
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .padd {
      margin-bottom: 1rem;
      padding: 0 2rem; } }

.dd {
  display: grid;
  grid-template-rows: 100vh 40vh min-content;
  grid-template-columns: minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .dd {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .dd {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.message-error {
  color: red;
  font-size: 1.4rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.alert {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: fixed;
  background-blend-mode: overlay;
  background-color: rgba(53, 136, 156, 0.9);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .alert div {
    width: 30%;
    height: 30%;
    position: relative;
    margin: 0 auto;
    z-index: 999;
    background: -webkit-linear-gradient(top, rgba(22, 110, 122, 0.6) 61%, rgba(68, 155, 166, 0.6) 76%, rgba(142, 226, 236, 0.3));
    background: linear-gradient(180deg, rgba(22, 110, 122, 0.6) 61%, rgba(68, 155, 166, 0.6) 76%, rgba(142, 226, 236, 0.3));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99166e7a",endColorstr="#4d8ee2ec",GradientType=0);
    border-radius: 10px;
    border: 1px solid #d0fce8;
    -webkit-animation: floating 6s ease-in-out infinite;
    animation: floating 6s ease-in-out infinite;
    padding: 0 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .alert div p {
      font-weight: bold;
      font-size: 1.7rem;
      color: #d0fce8;
      z-index: 999;
      margin-bottom: 5rem;
      font-family: Conqueror sans,sans-serif; }
  .alert div::before {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    top: 0;
    background: -webkit-linear-gradient(top, rgba(0, 170, 181, 0.6) 61%, rgba(167, 169, 172, 0.6) 76%, rgba(142, 226, 236, 0.3));
    background: linear-gradient(180deg, rgba(0, 170, 181, 0.6) 61%, rgba(167, 169, 172, 0.6) 76%, rgba(142, 226, 236, 0.3));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99166e7a",endColorstr="#4d8ee2ec",GradientType=0);
    -webkit-filter: blur(20px);
    filter: blur(20px);
    content: ""; }

.bttn {
  border: none;
  padding: 2.1rem;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  background-color: initial;
  text-align: center;
  outline: none; }
  .bttn::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: transparent #b3d335 transparent transparent;
    border-width: 2.8rem 1.5rem 2.8rem 0;
    left: -1.5rem; }
  .bttn::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: transparent transparent transparent #b3d335;
    border-width: 2.8rem 0 2.8rem 1.5rem;
    right: -1.5rem; }

.bttn-green {
  background-color: #b3d335;
  color: #d0fce8;
  font-size: 1.2rem; }

.bttn-formal {
  background-color: #003e71;
  padding: 1.5rem;
  color: #fff;
  border: 0;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .2s ease-in-out; }
  .bttn-formal:hover {
    background-color: #2684c6; }

.formal-green {
  background-color: rgba(2, 128, 2, 0.815); }

.formal-red {
  background-color: rgba(156, 5, 5, 0.904); }

.bttn-disabled {
  background-color: #ccc; }
  .bttn-disabled:hover {
    background-color: #ccc; }

.header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3.5rem; }
  .header h1 {
    color: #666;
    font-weight: 600;
    font-size: 2.4rem; }
  .header p {
    color: #003e71;
    font-weight: 400;
    font-size: 1.7rem; }
  .header input {
    margin-right: .2rem;
  }

.input {
  background: -webkit-linear-gradient(top, rgba(22, 110, 122, 0.8), rgba(22, 110, 122, 0.3) 50%, rgba(130, 187, 231, 0.39));
  background: linear-gradient(180deg, rgba(22, 110, 122, 0.8) 0, rgba(22, 110, 122, 0.3) 50%, rgba(130, 187, 231, 0.39));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#166e7a",endColorstr="#007db9e8",GradientType=0);
  border: 1px solid #d0fce8;
  font-family: Conqueror sans,sans-serif;
  color: #d0fce8;
  padding: 1.5rem;
  width: 100%;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  outline-color: #d0fce8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .input::-webkit-input-placeholder {
    color: #639da8;
    font-weight: 600; }

.input-formal {
  padding: 1.5rem;
  background: #fff;
  color: #666;
  border-radius: 0;
  border: 1px solid grey;
  font-size: 1.6rem;
  font-weight: 600; }
  .input-formal::-webkit-input-placeholder {
    color: #666;
    font-weight: 600;
    text-transform: uppercase; }

input[type="date"] {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem; }
.input-custom {
  color: #666;
  font-size: 1.2rem;
  font-weight: 600;
  border-color: black;
}
.input-custom input {
  height: 5rem;
  border: 1px solid grey;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.5rem;
  color: #666;
}
.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 62, 113, 0.9);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal-container .modal-body {
    padding: 1.5rem;
    width: 40%;
    min-height: 30rem;
    background-color: #fff; }
    .modal-container .modal-body h2 {
      font-weight: 100;
      font-size: 2.2rem;
      color: #003e71;
      margin-bottom: 4.5rem; }
    .modal-container .modal-body h1 {
      color: #ed683b;
      font-size: 2.7rem;
      width: 100%;
      padding: 0 12rem;
      text-align: center;
      font-weight: 100; }
    .modal-container .modal-body div {
      display: flex;
      justify-content: space-around; }
      .modal-container .modal-body div button {
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 20rem;
        font-size: 1.2rem; }
    .modal-container .modal-body .input-container {
      margin-top: 5rem;
      text-align: center;
      flex-direction: column;
      align-items: center; }
      .modal-container .modal-body .input-container label {
        font-weight: bold;
        font-size: 1.7rem;
        color: #777575; }
      .modal-container .modal-body .input-container input {
        width: 50%;
        text-align: center; }
  .modal-container .perso {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }

.spinner {
  width: 10rem;
  height: 10rem;
  background-image: url(../svgs/spinner.svg);
  margin: 0 auto;
  margin-top: 5rem; }

.table {
  width: 80%;
  margin: 0 auto;
  transition: all 2s; }
  .table thead {
    color: #666;
    font-size: 1.7rem;
    font-weight: 600; }
  .table tbody {
    cursor: pointer; }
    .table tbody tr {
      transition: all .2s ease-in-out; }
    .table tbody tr:nth-child(2n+1) {
      background-color: #f0f0f0; }
    .table tbody tr:hover {
      background-color: #defdef; }
    .table tbody .active {
      background-color: #defdef !important; }
    .table tbody .img {
      text-align: center; }
    .table tbody .icon {
      color: #93e8b7;
      font-size: 3rem; }
    .table tbody td {
      color: #003e71;
      padding: 1rem;
      font-weight: 200;
      font-size: 1.6rem; }
      .table tbody td img {
        width: 3rem; }

.dashboard-content {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-around; }
  .dashboard-content .users {
    background-color: #ed683b;
    padding: 2rem;
    width: 45%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .dashboard-content .users p {
      margin-bottom: 2rem;
      font-size: 1.9rem; }
    .dashboard-content .users span {
      font-size: 3.5rem;
      font-weight: 100; }
  .dashboard-content .quests {
    background-color: #ed3b85;
    padding: 2rem;
    width: 45%;
    height: 15rem;
    display: flex;
    justify-content: space-around; }
    .dashboard-content .quests div {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .dashboard-content .quests div p {
        margin-bottom: 2rem;
        font-size: 1.9rem;
        text-align: center; }
      .dashboard-content .quests div span {
        font-size: 3.5rem;
        font-weight: 100; }

.importacoes-content {
  margin-top: 2rem; }
  .importacoes-content form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .importacoes-content form input {
      width: 100%;
      margin-bottom: 2rem; }
    .importacoes-content form button {
      width: 13%;
      margin-bottom: 2rem; }

.jogadores-content {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .jogadores-content .navigation {
    width: 20%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around; }
    .jogadores-content .navigation div {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #003e71;
      font-size: 1.6rem;
      cursor: pointer;
      transition: all .2s ease-in-out; }
      .jogadores-content .navigation div:hover {
        background-color: #defdef; }
    .jogadores-content .navigation .number:hover {
      background-color: #ccc; }
    .jogadores-content .navigation .previews, .jogadores-content .navigation .next {
      background-color: #ccc;
      width: 40%; }
    .jogadores-content .navigation .number {
      background-color: #ccc;
      width: 15%;
      height: 4.9rem;
      font-size: 1.7rem; }

.login-content {
  width: 100%;
  height: 100%;
  background-color: #003e71;
  background-image: url(../img/background-img.png);
  background-repeat: repeat;
  background-position-y: center;
  background-size: contain;
  overflow: hidden; }
  .login-content .form-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: 10%;
    height: 45rem;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login-content .form-container .logo {
      width: 20rem;
      height: 19rem;
      background-image: url(../svgs/logo.svg);
      background-repeat: no-repeat;
      margin-bottom: 4rem; }
    .login-content .form-container h4 {
      color: #d0fce8;
      font-size: 1.7rem;
      margin-bottom: 1.5rem; }
    .login-content .form-container form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40rem; }
      .login-content .form-container form input {
        margin-bottom: 1.5rem; }

.top-page {
  width: 100%;
  height: 38rem;
  background-color: #003e71;
  padding: 4rem 15rem;
  position: relative; }
  .top-page h1 {
    display: flex;
    align-items: flex-end;
    font-size: 4rem;
    height: 100%; }
  .top-page div {
    width: 25rem;
    height: 190px;
    background-image: url(../svgs/logo.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 2rem;
    right: 4rem; }

.menu {
  width: 80%;
  margin: 0 auto;
  display: flex; }
  .menu div {
    width: calc(100% / 6);
    height: 6.2rem;
    color: #003e71;
    background-color: #e6e6e6;
    padding: 0 .5rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .3rem;
    border-right: rgba(0, 0, 0, 0) solid 0.1rem;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center; }
  .menu div:hover {
    margin-bottom: 0;
    height: 6.7rem;
    border-bottom: .3rem #003e71 solid;
    background-color: #defdef; }
  .menu .active {
    margin-bottom: 0;
    height: 6.7rem;
    border-bottom: .3rem #003e71 solid; }
  .menu div:not(:last-child) {
    margin-right: 1px; }

.relatorios-content {
  margin-top: 2rem; }
  .relatorios-content .grey-content {
    width: 90%;
    display: flex; }
    .relatorios-content .grey-content div {
      cursor: pointer;
      width: calc(100% / 8);
      background-color: #e6e6e6;
      color: #003e71;
      font-size: 1.6rem;
      padding: 1rem;
      font-weight: bold;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; }
      .relatorios-content .grey-content div:not(:last-child) {
        margin-right: .1rem; }
      .relatorios-content .grey-content div:hover {
        border-bottom: .2rem #003e71 solid; }
  .relatorios-content .active {
    border-bottom: .2rem #003e71 solid; }
  .relatorios-content .header-edit {
    display: flex;
    align-items: center; }
    .relatorios-content .header-edit input {
      margin-right: 1rem; }
