<template>
  <div>
    <div class="dashboard-content animated fadeInRightBig">
      <div class="users">
        <p>Usúarios registrados</p>
        <span>{{ amount }}</span>
      </div>

      <div class="quests">
        <div>
          <p>Perguntas respondidas corretamente</p>
          <span>108</span>
        </div>
        <div>
          <p>Perguntas respondidas erradas</p>
          <span>780</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getTotalPlayerRegistered } from "@/services/funifier";
export default {
  data() {
    return {
      amount: 0
    };
  },
  methods: {
    getTotal: async function() {
      const total = await getTotalPlayerRegistered();
      this.amount = total[0].total;
    }
  },
  mounted() {
    this.getTotal();
  }
};
</script>
