<template>
  <div class="pagina-toda">
    <div class="login-content">
      <div class="form-container">
        <div class="logo"></div>
        <h4>Área administrativa</h4>
        <form v-on:submit.prevent="login">
          <input
            type="text"
            required
            class="input"
            placeholder="Chave"
            v-model="userName"
          />
          <input
            type="password"
            required
            class="input"
            placeholder="password"
            v-model="password"
          />
          <button class="bttn bttn-green" type="submit">Entrar</button>
        </form>
      </div>
    </div>

    <!-- <div class="alert animated fadeIn slower">
    <div>
      <p>{{ alert.message }}</p>
      <button class="bttn bttn-green">Ok</button>
    </div>
    </div>-->
  </div>
</template>

<script>
import { auth } from "@/services/funifier";

export default {
  data() {
    return {
      userName: "",
      password: ""
    };
  },
  methods: {
    login: async function() {
      // eslint-disable-next-line
      const data = await auth(this.userName, this.password);
      this.$router.push({ path: "/dashboard" });
    }
  }
};
</script>
<style lang="scss" scoped>
.pagina-toda {
  height: 100vh;

  // div {
  //   height: 100%;
  // }
}
</style>
