<template>
  <div v-if="isLogin">
    <header class="top-page">
      <h1>Boas-Vindas, <br />aqui estão algumas informações e métricas.</h1>
      <div class="logo"></div>
    </header>
    <nav class="menu">
      <router-link to="/dashboard" tag="div" active-class="active"
        >Dashboard</router-link
      >
      <router-link to="/relatorio" tag="div" active-class="active"
        >Relatórios</router-link
      >
      <router-link to="/importacao" tag="div" active-class="active"
        >Importações</router-link
      >
      <!-- <div ng-click="goToPage('mensagem')">Mensagem</div> -->
      <router-link to="/alterar-senha" tag="div" active-class="active"
        >Alterar Senha</router-link
      >
      <router-link
        to="/clan"
        tag="div"
        active-class="active"
        v-if="hasHole('supervisor')"
        >Alterar nome do Clan</router-link
      >
      <router-link
        to="/erro"
        tag="div"
        active-class="active"
        v-if="hasHole('supervisor')"
        >Avaliar Erro</router-link
      >
      <div @click="logOut">Sair</div>
    </nav>
  </div>
</template>

<script>
import { isAuth } from "@/services/funifier";
import { hasHole } from "@/services/funifier";

export default {
  data() {
    return {
      isLogin: isAuth(),
      hasHole: hasHole
    };
  },
  methods: {
    logOut() {
      const hasToken = localStorage.getItem("funifier-admin")
        ? JSON.parse(localStorage.getItem("funifier-admin"))
        : null;
      if (hasToken) {
        localStorage.removeItem("funifier-admin");
        this.$router.push({ path: "/" });
      } else {
        this.$router.push({ path: "/" });
      }
    }
  },
  mounted() {
    this.isLogin = isAuth();
  }
};
</script>
