<template>
  <div>
    <div v-if="isLogin">
      <Menu></Menu>
      <router-view></router-view>
    </div>
    <div v-else>
      <Login />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Menu from "@/components/template/Menu.vue";
import Login from "@/components/template/Login.vue";
import { isAuth } from "@/services/funifier";

export default {
  name: "home",
  data() {
    return {
      isLogin: isAuth()
    };
  },
  components: {
    Menu,
    Login
  },
  watch: {
    $route(to, from) {
      this.isLogin = isAuth();
    }
  }
};
</script>
