<template>
  <div>
    <div class="importacoes-content animated fadeInRightBig">
      <header class="header">
        <h1>Alterar o nome do clan</h1>
        <p>Você poderá alterar o nome do seu clan.</p>
      </header>

      <section v-if="team">
        <form v-on:submit.prevent="saveTeam">
          <input class="input-formal" type="text" v-model="team.name" required />
          <button class="bttn-formal">Salvar</button>
        </form>
      </section>
    </div>

    <!-- <div class="modal-container" ng-if="modal">
      <div class="modal-body">
        <h2>Vamos Confirmar...</h2>
        <h1>Você deseja alterar o nome do clan para <b>{{TeamByOwner.name}}</b>?</h1>
        <div>
          <button class="bttn-formal" ng-click="alterarTeam(TeamByOwner)">Sim</button>
          <button class="bttn-formal" ng-click="alterarTeam(false)">Não</button>
        </div>
      </div>
    </div>-->
    <!-- <div class="modal-container" ng-if="alert">
      <div class="modal-body perso">
        <h1>{{alert.message}}</h1>
        <div>
          <button class="bttn-formal" ng-click="alertHide()">{{alert.btnCancel ? "Cancelar": "Ok"}}</button>
        </div>
      </div>
    </div>-->
    <Alert :alert="alertMessage" @close="alertMessage = null"></Alert>
  </div>
</template>

<script>
import { getToken, getTeamByOwner } from "@/services/funifier";
import { baseApiUrl } from "@/global";
import Axios from "axios";

import Alert from "@/components/widgets/Alert";

export default {
  components: {
    Alert
  },
  data() {
    return {
      team: null,
      alertMessage: null
    };
  },
  methods: {
    async getTeam() {
      const team = await getTeamByOwner();
      this.team = team[0];
    },
    saveTeam() {
      const token = getToken();
      delete this.team.created;
      delete this.team.updated;
      Axios({
        method: "POST",
        url: `${baseApiUrl}/v3/team`,
        headers: {
          Authorization: token.token,
          "cache-control": "no-cache"
        },
        data: this.team
      })
        .then(data => {
          console.info("data", data.data);
          this.team = data.data;
          this.alertMessage = "Nomde do clan alterado com sucesso!";
        })
        .catch(erro => {
          console.error(erro);
        });
    }
  },
  mounted() {
    this.getTeam();
  }
};
</script>
